# Python
__pycache__/
*.py[cod]
*.pyo

# Entornos virtuales
venv/
.venv/
env/

# Streamlit
.streamlit/secrets.toml

# Editores
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Datos temporales
*.csv
# Datos experimentales
*.csv
*.xlsx
*.xls

# Archivo oficial descargable
!assets/downloads/Simulador_Cilindro.xlsx
*.xls

# Archivos generados
exports/
output/
